<!DOCTYPE html>

<html>
  <head>
    <title>SanTek</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <div class="logo">
          <span class="icon fa-gem"></span>
        </div>
        <div class="content">
          <div class="inner">
            <h1>SanTek</h1>
            <p>
              Make sure everyone is
              <a href="{{ url_for('facedetection') }}">wearing a mask</a> and observe our
              <a href="{{ url_for('statistics') }}" id="loadLink">statistics</a> of people's
              reaction to COVID.
            </p>
          </div>
          <div class="loader" id="loader"></div>
        </div>

        <nav>
          <ul>
            <li><a href="#intro">Intro</a></li>
            <li><a href="#work">AI </a></li>
            <li><a href="#about">Stats</a></li>
            <li><a href="#contact">Contact</a></li>
            <!--<li><a href="#elements">Elements</a></li>-->
          </ul>
        </nav>
      </header>

      <!-- Main -->
      <div id="main">
        <!-- Intro -->
        <article id="intro">
          <h2 class="major">Intro</h2>
          <span class="image main"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
          <p>
            Welcome to our health-focused website! Our
            <a href="{{ url_for('facedetection') }}">facemask detection </a> section ensures
            real-time mask compliance on camera, promoting safety. In the
            <a href="{{ url_for('statistics') }}"> data analysis </a>section, we assess public
            reactions to health ministry Facebook comments, classifying them as
            positive, negative, neutral, or even sarcastic. Harnessing
            technology for healthier, safer communities is our mission.
          </p>
        </article>

        <!-- Work -->
        <article id="work">
          <h2 class="major">FaceMask Detection</h2>
          <span class="image main"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></span>
          <p>
            In our health-centered website, our AI facemask detection section
            stands out for its exceptional accuracy. We provide real-time mask
            compliance on camera, ensuring the utmost safety. Harnessing
            technology for healthier, safer communities is our mission.
          </p>
          <a href="/facedetection" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #555; color: #fff; text-decoration: none; border-radius: 5px;">
            <span>Let's Go</span>
            
          </a>
        </article>

        <!-- About -->
        <article id="about">
        <h2 class="major">Data Analysis</h2>
        <span class="image main"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
        <p>
          At SanTek, we dive deep into AI model performance analysis using advanced data visualization techniques. Our comprehensive analysis includes training metrics, dataset distribution, confusion matrices, and performance evaluations of our MobileNetV2-based face mask detection system using Transfer Learning.
        </p>
        <a href="/statistics" style="display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #555; color: #fff; text-decoration: none; border-radius: 5px;">
          <span>Let's Go</span>
        </a>
      </article>

        <!-- Contact -->
       <!-- Contact -->
<article id="contact">
  <h2 class="major">Contact</h2>

  <p>Feel free to contact us through the following channels:</p>

  <!-- Icons for Contact Information -->
  <ul class="icons">
      <!-- LinkedIn -->
      <li>
          <a href="https://www.linkedin.com/in/raniadridii" class="icon brands fa-linkedin" target="_blank" rel="noopener noreferrer">
              <span class="label">LinkedIn</span>
          </a>
      </li>

      <!-- Email -->
      <li>
          <a href="mailto:raniadridi42@gmail.com" class="icon solid fa-envelope">
              <span class="label">Email</span>
          </a>
      </li>
      <!-- GitHub -->
      <li>
          <a href="https://github.com/raniadridi" class="icon brands fa-github" target="_blank" rel="noopener noreferrer">
              <span class="label">GitHub</span>
          </a>
      </li>
  </ul>
</article>

      </div>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">&copy; SanTek. Safety First.</p>
      </footer>
    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
